{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">show Prolfile</h4>

            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles[0] == "ROLE_EDITOR" ? "Editor" : "Viewer" }} </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ user.firstName }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ user.lastName }}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ user.note }}</td>
        </tr>
        <tr>
            <th>Picture</th>

            <td><img src ="{{ asset('uploads/images-profile/' ~ user.imageFile) }}" alt =""  width="100" height="100"></td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_profile_edit', {'id': user.id}) }}">edit</a>
{% endblock %}
