{% extends 'base.html.twig' %}

{% block title %}Accounts index{% endblock %}
{% block content %}
    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Listing Accounts</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Accounts</a></li>
                                        <li class="breadcrumb-item active">Listing Accounts</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                
<div class="card">
                <div class="card-body">
                            <div class="row g-2">
                                <div class="col-lg-auto">
                                    <div class="hstack gap-2">
                                           <a href="{{ path('app_accounts_new') }}"><button type="button" class="btn btn-primary waves-effect waves-ligh" ><i class="ri-add-fill me-1 align-bottom"></i>Add Accounts</button></a>
                                    </div>
                                </div>
                               <div class="col-xxl-6 col-sm-9">
                                                <div class="search-box">
                                                    <form>
                                                        <input type="text" id="search-input">
                                                    </form>
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                          
                                    <div class="col-auto order-2 order-sm-1 ms-auto">
                                    <div class="hstack gap-2">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a href="{{ path('app_accounts_index') }}"><button class="btn btn-icon fw-semibold btn-soft-danger"><i class="ri-arrow-go-back-line"></i></button></a>
                                            <a href="{{ path('app_accounts_new') }}"><button class="btn btn-icon fw-semibold btn-soft-success"><i class="ri-arrow-go-forward-line"></i></button></a>
                                        </div>
                                    </div>
                                </div>   
                          </div>
                  </div>
           </div>

<div class="row">
<div class="col-xl-12 grid-margin stretch-card  ">
    <div class="card">
         <div class="card-body">
             <div class="table-responsive">
    <table id="t" class="table align-middle table-nowrap table-striped-columns mb-0">
        <thead class="table-light" >
            <tr> 
                <th scope="col" style="width: 46px;">
                            <div class="form-check">
                                <div class="form-check">
                                       <input class="form-check-input" type="checkbox" value="" id="cardtableCheck01">
                                       <label class="form-check-label" for="cardtableCheck01"></label>
                                </div>
                          </div>

                <th>{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Roles', 'roles') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Added On', 'added_on') }}</th>
                <th scope="col" style="width: 150px;" >Actions</th>
                 </th>                           
            </tr>
        </thead>
        <tbody id="all">
        {% for account in pagination %}
            <tr>  
                <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="cardtableCheck01">
                             <label class="form-check-label" for="cardtableCheck01"></label>
                        </div>
                </td>
                <td>{{ account.id }}</td>
                <td>{{ account.name }}</td>
                <td>{{ account.email }}</td>
                <td>{{ account.roles ? account.roles|json_encode : '' }}</td>
                <td>{{ account.addedOn ? account.addedOn|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_accounts_edit', {'id': account.id}) }}"><button class="btn btn-outline-success btn-border"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i></button></a>
                        <a><button class="btn btn-soft-danger btn-border" data-bs-toggle="modal" data-bs-target="#topmodal"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i></button>
                            <div id="topmodal" class="modal fade" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body text-center p-5">
                                            <lord-icon src="https://cdn.lordicon.com/pithnlch.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:120px;height:120px">
                                            </lord-icon>
                                            <div class="mt-4">
                                                <h3 class="mb-3">Information Message</h3>
                                                <p class="text-muted mb-4">You are deleting this accounts.This action is irreversible.Are you sure?</p>
                                                <div class="hstack gap-2 justify-content-center">
                                                        <a href="javascript:void(0);" class="btn btn-link link-success fw-medium" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Cancel</a>
                                                    <form method="post" x²>
                                                        <button class="btn btn-success"><input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account.id) }}">Validate</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        </a>
                        <a href="{{ path('app_accounts_show', {'id': account.id}) }}"><button class="btn btn-outline-secondary btn-border"> <i class="ri-eye-fill align-bottom me-2 text-muted"></i></button></a>

                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
                 <div class="navigation text-center">
                     {% if pagination.getTotalItemCount  > 0 %}
                         {{ knp_pagination_render(pagination) }}
                     {% endif %}
                 </div>

             </div>

          </div>

      </div>
    </div>
</div>


    
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var searchInput = $('#search-input');
            var searchResults = $('#all');
            searchInput.on('keyup', function() {
                var query = searchInput.val();
                if (query.length > 0) {
                    $.ajax({
                        url: '/search/',
                        type: 'GET',
                        data: {
                            'query': query,
                        },
                        success: function(response) {
                            var tableBody = $('#t tbody');
                            tableBody.empty(); // clear any existing rows

                            $.each(JSON.parse(response), function(key, arr) {
                                $.each(arr, function(id, value) {
                                    if (key === 'posts') {
                                        if (id !== 'error') {
                                            console.log(value[3].date);
                                            $('#all').append('<tr>' +
                                                '<td><input class="form-check-input" type="checkbox" value="" id="cardtableCheck01"></td>' +
                                                '<td>'+id+'</td>' +
                                                '<td>'+value[1]+'</td>' +
                                                '<td>'+value[0]+'</td>' +
                                                '<td>'+value[2]+'</td>' +
                                                '<td>'+value[3].date.split(' ')[0]+'</td>' +
                                                '<td>' +
                                                '<a href="' +id + '/edit"><button class="btn btn-outline-success btn-border"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i></button></a>' +
                                                '<a href="/accounts/' +id + '"><button class="btn btn-soft-danger btn-border" data-bs-toggle="modal" data-bs-target="#topmodal"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i></button></a>' +
                                                '<a href="/accounts/' +id + '"><button class="btn btn-outline-secondary btn-border"> <i class="ri-eye-fill align-bottom me-2 text-muted"></i></button></a>' +
                                                '</td>' +
                                                '</tr>');
                                        }
                                    }
                                });
                            });
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log(textStatus + ': ' + errorThrown);
                        }
                    });
                } else {
                    searchResults.empty();
                }
            });
        });
    </script>

    <script>
        $(document).ready(function() {
            // When the user clicks on the delete button
            $(".delete-btn").on("click", function() {
                // Get the ID of the item to delete
                var itemId = $(this).data("id");

                // Set the action of the delete form to the URL for deleting the item
                $("#delete-form").attr("action", "/items/" + itemId);

                // Show the modal
                $("#topmodal").modal("show");
            });

            // When the user confirms the deletion
            $("#delete-form").on("submit", function() {
                // Submit the form
                $(this).submit();
            });
        });
    </script>

{% endblock %}