{% block content %}
    <div class="row">
        <div class="card">
            {{ form_start(form,{'attr':{'novalidate':'novalidate'}} ) }}


            <div class="mb-3">
                <label class="form-label" for="article-title-input">Title Category</label>
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Enter title'}}) }}
                {% if form_errors(form.title)is not empty %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.title) }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label class="form-label" for="article-title-input">Title Sub category</label>
                {{ form_widget(form.subCategories, {'attr': {'class': 'form-control', 'placeholder': 'Choice a sub category'}}) }}
                {% if form_errors(form.subCategories)is not empty %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.subCategories) }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label class="form-label" for="body-input">Description</label>
                {{ form_widget(form.short_description, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.short_description)is not empty %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.short_description) }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label class="form-label" for="body-input">Category picture</label>
                {{ form_widget(form.category_picture, {'attr': {'class': 'form-control'}}) }}
                {% if form_errors(form.category_picture)is not empty %}
                    <div class="alert alert-danger">
                        {{ form_errors(form.category_picture) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">{{ button_label|default('Save') }}</button>

            {{ form_end(form) }}
            <a style="width: 10%; margin-left: auto" class="btn btn-primary" href="{{ path('app_categories_index') }}">Back to list</a>

{% endblock %}
