{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">show Category</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Category</a></li>
                        <li class="breadcrumb-item active">Show Category</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ category.author }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ category.updated }}</td>
            </tr>
            <tr>
                <th>Created_on</th>
                <td>{{ category.createdOn ? category.createdOn|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_on</th>
                <td>{{ category.updatedOn ? category.updatedOn|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ category.slug }}</td>
            </tr>
            <tr>
                <th>Category_picture</th>

                <td><img src ="{{ asset('uploads/images/images-category/' ~ category.categoryPicture) }}" alt =""  width="100" height="100"></td>
            </tr>
            <tr>
                <th>Short_description</th>
                <td>{{ category.shortDescription }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_categories_index') }}">back to list</a>

    <a class="btn btn-success" href="{{ path('app_categories_edit', {'id': category.id}) }}">edit</a>
{% endblock %}
