{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}

 <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">show Article</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Articles</a></li>
                                        <li class="breadcrumb-item active"> Show  Article</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>



    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ article.author }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ article.updated }}</td>
            </tr>
            <tr>
                <th>Updated_on</th>
                <td>{{ article.updatedOn ? article.updatedOn|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ article.url }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ article.slug }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ article.body }}</td>
            </tr>
            <tr>
                <th>Short_description</th>
                <td>{{ article.shortDescription }}</td>
            </tr>
            <tr>
                <th>Article_picture</th>
                <td>{{ article.articlePicture }}</td>
            </tr>
            <tr>
                <th>Other_file</th>
                <td>{{ article.otherFile }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ article.tags }}</td>
            </tr>
            <tr>
                <th>Created_on</th>
                <td>{{ article.createdOn ? article.createdOn|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_articles_index') }}">back to list</a>

    <a href="{{ path('app_articles_edit', {'id': article.id}) }}">edit</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
