{% extends 'base.html.twig' %}
{% block title %}Add new form{% endblock %}

{% block content %}
    <h1>Create New Registration Form</h1>

    {{ form_start(form) }}
    <div class="mb-3">
        <label class="form-label" for="article-title-input">Title Form</label>
        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Enter title'}}) }}
        {% if form_errors(form.title)is not empty %}
            <div class="alert alert-danger">
                {{ form_errors(form.title) }}
            </div>
        {% endif %}
    </div>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Choose fields</h3>
        </div>
        <div id="fields-container" class="card-body">
            {% for field in form.fields %}
                {{ form_row(field.label) }}
                {{ form_row(field.type) }}
                {% for option in field.options %}
                    {{ form_row(option) }}
                {% endfor %}
                <br>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary add-field-button">Add Field</button>
        </div>
    </div>

    <button type="submit" class="btn btn-success">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
        $(document).ready(function() {
            var $fieldsContainer = $('#fields-container');
        var $addButton = $('.add-field-button');

        $addButton.click(function() {
            var fieldCount = $fieldsContainer.children().length / 4;

            var $labelInput = $('<input>')
                .addClass('col')
                .attr('type', 'text')
                .attr('name', 'fields[' + fieldCount + '][label]')
                .attr('placeholder', 'Label')
                .addClass('form-control')
                .css('margin-right', '10px'); // Add desired margin value

            var $typeSelect = $('<select>')
                .addClass('col')
                .attr('name', 'fields[' + fieldCount + '][type]')
                .addClass('form-control')
                .append($('<option>').attr('value', 'text').text('Text'))
                .append($('<option>').attr('value', 'email').text('Email'))
                .append($('<option>').attr('value', 'password').text('Password'))
                .append($('<option>').attr('value', 'checkbox').text('Checkbox'))
                .append($('<option>').attr('value', 'select').text('Select'))
                .append($('<option>').attr('value', 'textarea').text('Textarea'));

            var $optionsContainer = $('<div>')
                .addClass('options-container');

            var $addFieldButton = $('<button>')
                .attr('type', 'button')
                .addClass('btn btn-primary add-option-button')
                .text('Add Option');

            var $removeFieldButton = $('<button>')
                .attr('type', 'button')
                .addClass('btn btn-danger remove-field-button')
                .text('Remove Field')
                .click(function() {
                    $(this).closest('.field-container').remove();
                });

            var $fieldContainer = $('<div class="container card row g-lg-2">')
                .addClass('field-container')
                .append($labelInput)
                .append($typeSelect)
                .append($optionsContainer)
                .append($addFieldButton)
                .append($removeFieldButton);


            $fieldsContainer.append($fieldContainer);
        });

        $(document).on('click', '.add-option-button', function() {
            var $optionsContainer = $(this).prev('.options-container');
            var optionCount = $optionsContainer.children().length;

            var $optionInput = $('<input>')
                .attr('type', 'text')
                .attr('name', 'fields[' + $optionsContainer.parent().index() + '][options][' + optionCount + ']')
                .attr('placeholder', 'Option')
                .addClass('form-control');

            var $removeOptionButton = $('<button>')
                .attr('type', 'button')
                .addClass('btn btn-danger remove-option-button')
                .text('Remove Option');

            var $optionContainer = $('<div>')
                .addClass('option-container')
                .append($optionInput)
                .append($removeOptionButton);

            $optionsContainer.append($optionContainer);
        });

        $(document).on('click', '.remove-option-button', function() {
            $(this).parent().remove();
        });
        });

    </script>
{% endblock %}
