{% extends 'base.html.twig' %}
{% block title %}Add new form{% endblock %}

{% block content %}


    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 32px;
            height: 20px;
        }

        .switch-input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .switch-label {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            background-color: #ccc; /* Set the background color for the switch button */
            border-radius: 17px; /* Set the border radius for the switch button */
        }

        .switch-label::before {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 10px; /* Set the width of the switch button's handle */
            height: 10px; /* Set the height of the switch button's handle */
            background-color: #fff; /* Set the color of the switch button's handle */
            border-radius: 15px; /* Set the border radius of the switch button's handle */
            transition: left 0.2s; /* Add transition effect for smooth animation */
        }

        .switch-input:checked + .switch-label {
            background-color: #0f0; /* Set the background color for the checked state */
        }

        .switch-input:checked + .switch-label::before {
            left: 28px; /* Set the position of the switch button's handle for the checked state */
        }
    </style>

    <div>
        <form method="post" action="{{ path('admin_template_form_edit', {'id' : 1, 'templatePath' : 'register'}) }}">
            {{ form_start(form) }}
            <div class="form-row align-items-center">
                <div class="col-sm-4">
                    <div class="form-group">
                        {{ form_label(form.name, 'Name') }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <!-- Render other form fields as needed -->
                </div>
                <div class="col-sm-6" style="margin-block-start: 2%">
                    <div class="form-group switch ">
                        <label for="{{ form.isEnabled.vars.id }}"></label>
                        {{ form_widget(form.isEnabled, {'attr': {'class': 'switch-input'}}) }}
                        <label for="{{ form.isEnabled.vars.id }}" class="switch-label"></label>
                    </div>
                    <!-- Render other form fields as needed -->
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </form>
    </div>

<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<div class="card" style="margin-block-start: 1%">
<!-- Mirrored from themesbrand.com/velzon/html/default/auth-signup-basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 10:08:47 GMT -->
<head>

    <meta charset="utf-8" />
    <title>Sign Up | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">

    <!-- Layout config Js -->
    <script src="/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Create New Account</h5>
                            </div>
                            <div class="p-2 mt-4">
                                {% for flash_error in app.flashes('verify_email_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                {% endfor %}
                                <form class="needs-validation" novalidate method="post" action="{{ path('app_register') }}">

                                    <div class="mb-3">
                                        <label for="useremail" class="form-label">Email <span class="text-danger">*</span></label>
                                        <input type="email" class="form-control" id="useremail" name="email" placeholder="Enter email address" required>
                                        <div class="invalid-feedback">
                                            Please enter email
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="username" name ="name" placeholder="Enter username" required>
                                        <div class="invalid-feedback">
                                            Please enter username
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="password-input">Password</label>
                                        <div class="position-relative auth-pass-inputgroup">
                                            <input type="password" class="form-control pe-5 password-input" name ="password" onpaste="return false" placeholder="Enter password" id="password-input" aria-describedby="passwordInput" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                            <div class="invalid-feedback">
                                                Please enter password
                                            </div>
                                        </div>
                                    </div>

                                    <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                                        <h5 class="fs-13">Password must contain:</h5>
                                        <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 characters</b></p>
                                        <p id="pass-lower" class="invalid fs-12 mb-2">At <b>lowercase</b> letter (a-z)</p>
                                        <p id="pass-upper" class="invalid fs-12 mb-2">At least <b>uppercase</b> letter (A-Z)</p>
                                        <p id="pass-number" class="invalid fs-12 mb-0">A least <b>number</b> (0-9)</p>
                                    </div>

                                    <div class="mt-4">
                                        <button class="btn btn-success w-100" type="submit">Sign Up</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->

<!-- JAVASCRIPT -->
<script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/assets/libs/node-waves/waves.min.js"></script>
<script src="/assets/libs/feather-icons/feather.min.js"></script>
<script src="/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="/assets/js/plugins.js"></script>

<!-- particles js -->
<script src="/assets/libs/particles.js/particles.js"></script>
<!-- particles app js -->
<script src="/assets/js/pages/particles.app.js"></script>
<!-- validation init -->
<script src="/assets/js/pages/form-validation.init.js"></script>
<!-- password create init -->
<script src="/assets/js/pages/passowrd-create.init.js"></script>
</body>

</div>
<!-- Mirrored from themesbrand.com/velzon/html/default/auth-signup-basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 07 Feb 2023 10:08:48 GMT -->
</html>

{% endblock %}