{% extends 'base.html.twig' %}

{% block title %}Accounts{% endblock %}

{% block content %}
    <h1>Accounts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ account.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ account.roles ? account.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ account.password }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ account.name }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ account.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ account.lastName }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ account.note }}</td>
            </tr>
            <tr>
                <th>Added_on</th>
                <td>{{ account.addedOn ? account.addedOn|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_accounts_index') }}">back to list</a>

    <a href="{{ path('app_accounts_edit', {'id': account.id}) }}">edit</a>
{% endblock %}
